/*Cores*/
$preto: black
$branco: white
$amarelo: yellow

$azul-ieee: #0072A6
$azul-ieee-escuro: #00629B
$azul-ieee-claro: #DDF3FE      
$branco-ieee: #FDFDFD
$azul-claro: #00B5E2

$texto-preto: #1E1C1C 

$hexagonos-um: #66DAF1
$hexagonos-dois: #4C90B0
$hexagonos-tres: #DDF3FE
$hexagonos-quatro: #ECF0F8

$aess: #93DF76
$aess-escuro: #0072A6
$aess-claro: #D4E2EE

$cs: #F6CE93
$cs-escuro: #EA9414
$cs-claro: #F9E8D0

$embs: #93A6F6
$embs-escuro: #2D3142
$embs-claro: #E5E9FD

$eps: #93F0F6
$eps-escuro: #009CA6
$eps-claro: #CAE9ED

$pes: #93F6C1
$pes-escuro: #00843D
$pes-claro: #CAE4D8

$ras: #F693F5
$ras-escuro: #981D97
$ras-claro: #E8D0EA

$pes: #93E2F6
$pes-escuro: #00B5E2
$pes-claro: #CAEEF9


/*Peso da fonte*/
$light: 300
$regular: 400
$semi-bold: 600
$bold: 700

/*Resolução máxima*/
$celular: max-width 440px
$tablet: max-width 991px

/*mixin do display flex*/
=flexbox
	display: -webkit-box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flexbox
	display: flex

/*mixin do gradiente*/
=gradient($angle,$gradient1, $gradient2)
  background-color: $gradient2
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2))
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2)
  background-image:    -moz-linear-gradient($angle, $gradient1, $gradient2)
  background-image:     -ms-linear-gradient($angle, $gradient1, $gradient2)
  background-image:      -o-linear-gradient($angle, $gradient1, $gradient2)
  background-image:         linear-gradient($angle, $gradient1, $gradient2)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}')

/*mixin de transição*/
=transition($transition...)
	-moz-transition: all $transition linear
	-o-transition: all $transition linear
	-webkit-transition: all $transition linear
	transition: all $transition linear

/*mixin do arredodamento da borda*/
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

/*função para converter px para rem no tamanho da fonte*/
@function calculateRem($size)
	$remSize: $size / 16px
	@return $remSize * 1rem

/*mixin do tamanho da fonte*/
=font-size($size)
	font-size: $size
	font-size: calculateRem($size)

/*mixin da opacidade*/
=opacity($opacity)
	opacity: $opacity
	$opacity-ie: $opacity * 100
	filter: alpha(opacity=$opacity-ie)

/*mixin da opacidade do background*/
=background-opacity($color: #000, $opacity: 0.85)
  background: $color
  background: rgba($color, $opacity)

/*mixin das colunas*/
=columns($count: 3, $gap: 10)
	@include css3-prefix('column-count', $count)
	@include css3-prefix('column-gap', $gap)
