#titulo-header
    font-size: 38px
    font-weight: $bold
    color: $azul-ieee
    @include breakpoint($celular)
        font-size: 30px

#subtitulo-header
    font-size: 24px
    font-weight: $regular
    color: $texto-preto
    opacity: 80%
    margin-top: 15px
    @include breakpoint($celular)
        font-size: 20px

.header
    display: flex
    flex-direction: row
    justify-content: center
    background-image: url('../images/ilustracoes/conquistas-header.svg')
    background-repeat: no-repeat
    height: 500px
    width: 100vw
    @include breakpoint($tablet)
        text-align: center
        background: url('../images/ilustracoes/conquistas-mobile-bg.svg')
        background-repeat: no-repeat

.headerLeft
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-top: 150px
    margin-left: 150px
    @include breakpoint($tablet)
        margin-left: 0
        padding: 0 !important
        align-items: center
        margin-top: 68px

.headerRight
    margin-top: 60px
    display: flex
    justify-content: flex-end
    @include breakpoint($tablet)
        margin-top: 30px
        justify-content: center
        width: 250px
        height: 250px

// corpo \/
.premios
    display: flex
    flex-direction: column
    background-image: url('../images/ilustracoes/conquistas-linha-completa.svg')
    background-repeat: no-repeat
    background-position: center
    height: 1300px
    @include breakpoint($tablet)
        margin-top: 20px
        background-image: none
        align-items: center

.premioEsquerda
    display: flex
    flex-direction: column
    height: 225px
    align-items: flex-end
    align-content: center
    @include breakpoint($celular)
        align-items: center

.premioDireita
    display: flex
    flex-direction: column
    height: 225px
    align-items: flex-start
    align-content: center
    @include breakpoint($celular)
        align-items: center

.esquerda-um
    margin-top: 18px
    @include breakpoint($tablet)
        display: flex
        flex-direction: column
        align-items: center

.direita
    margin-top: 68px
    @include breakpoint($tablet)
        margin-top: 40px
        display: flex
        flex-direction: column-reverse
        align-items: center

.esquerda
    margin-top: 75px
    @include breakpoint($tablet)
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 40px

.vazio
    height: 225px
    @include breakpoint($tablet)
        opacity: 0
        position: relative

.tituloItem
    font-size: 24px
    font-weight: $semi-bold
    color: $azul-ieee
    align-self: flex-end
    @include breakpoint($tablet)
        margin-bottom: 10px
    @include breakpoint($celular)
        align-self: center
        margin-right: 0px
        text-align: center

.descricaoItemEsquerda
    font-size: 18px
    font-weight: $regular
    color: $texto-preto
    margin-left: 15px
    margin-bottom: 15px
    width: 50%
    line-height: 27px
    @include breakpoint($celular)
        margin-left: 0
        width: 80%
        text-align: center

.descricaoItemDireita
    font-size: 18px
    font-weight: $regular
    color: $texto-preto
    margin-right: 15px
    margin-bottom: 15px
    width: 50%
    line-height: 27px
    text-align: right
    @include breakpoint($celular)
        margin-right: 0
        width: 80%
        text-align: center

.bg
    position: absolute
    right: 0

.bgEsquerda
    position: absolute
    left: 0

.descricaoDivEsquerda
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    @include breakpoint($tablet)
      justify-content: flex-start
    @include breakpoint($celular)
        flex-direction: column
        align-items: center

.descricaoDivDireita
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    @include breakpoint($tablet)
      justify-content: flex-end
    @include breakpoint($celular)
        flex-direction: column-reverse
        align-items: center
