#titulo-header
    font-size: 38px
    font-weight: $bold
    color: $azul-ieee

#subtitulo-header
    font-size: 24px
    font-weight: $regular
    color: $texto-preto
    opacity: 80%
    margin-top: 15px

.header
    background-image: url('../images/ilustracoes/conquistas-header.svg')
    background-repeat: no-repeat
    height: 500px
    @include breakpoint($tablet)
        background: url('../images/ilustracoes/conquistas-mobile-bg.svg')
        background-repeat: no-repeat

.headerLeft
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-top: 150px
    @include breakpoint($tablet)
        align-items: center
        margin-top: 68px

.headerRight
    margin-top: 60px
    display: flex
    justify-content: flex-end
    @include breakpoint($tablet)
        margin-top: 30px
        justify-content: center
        width: 250px
        height: 250px

// corpo \/
.premios
    display: flex
    flex-direction: column
    background-image: url('../images/ilustracoes/conquistas-linha-completa.svg')
    background-repeat: no-repeat
    background-position: center
    height: 1300px
    @include breakpoint($tablet)
        margin-top: 20px
        background-image: none
        //background-image: url('../images/ilustracoes/conquistas-linha.svg')

.individualPremio
    @include breakpoint($tablet)
        margin-bottom: 150px

.premioEsquerda
    display: flex
    flex-direction: column
    height: 225px
    align-items: flex-end
    align-content: center

.premioDireita
    display: flex
    flex-direction: column
    height: 225px
    align-items: flex-start
    align-content: center

.esquerda-um
    margin-top: 18px

.direita
    margin-top: 68px

.esquerda
    margin-top: 75px



.vazio
    height: 225px

.tituloItem
    font-size: 24px
    font-weight: $semi-bold
    color: $azul-ieee
    align-self: flex-end
    margin-right: 10px
    
.descricaoItemEsquerda
    font-size: 18px
    font-weight: $regular
    color: $texto-preto
    margin-left: 15px
    margin-bottom: 15px
    width: 40%
    line-height: 27px

.descricaoItemDireita
    font-size: 18px
    font-weight: $regular
    color: $texto-preto
    margin-right: 15px
    margin-bottom: 15px
    width: 40%
    line-height: 27px
    text-align: right 
    
.bg
    position: absolute
    right: 0

.bgEsquerda
    position: absolute
    left: 0
    
.descricaoDivEsquerda
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end

.descricaoDivDireita
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start