.bannerEventos
    display: flex
    flex-direction: row
    background-color: transparentize($azul-ieee-escuro,0.8)
    justify-content: center
    align-items: center
    img 
        max-height: 312px
    .textoBanner
        display: flex
        flex-direction: row
        padding: 30px 0px 30px 30px
        .textoEsquerda
            display: flex
            flex-direction: column
            span
                font-size: 30px
                line-height: 41px
                color: transparentize($texto-preto,0.35)
                padding-bottom: 20px
            h1
                font-weight: $bold
                font-size: 40px
                line-height: 54px
                color: $texto-preto
            h2 
                font-weight: $light
                font-size: 25px
                line-height: 34px
                color: transparentize($texto-preto,0.45)
            h3 
                font-size: 25px
                line-height: 34px
                color: transparentize($texto-preto,0.45)
        .textoDireita
            span
                font-weight: $light
                font-size: 30px
                line-height: 41px
                color: transparentize($texto-preto,0.5)
                margin-left: -50px