body
  background-color: $cinza-claro

#apresentacao-inicial, #apresentacao-ieee, #apresentacao-ieee-ufabc, #o-que-fazemos, #capitulos
  margin-top: 100px

.titulos
  font-weight: $bold
  font-size: 38px
  line-height: 48px
  color: $texto-preto

.linha-azul
	margin: 10px 0px

#subtitulo
	font-size: 20px
	line-height: 30px

#logo-ieee-mundial
  margin-top: 50px

.descricao-ieee
	font-size: 18px
	line-height: 27px

#titulo-ieee-ufabc
  margin-top: 100px
  margin-bottom: 50px

.titulo2
  font-size: 24px
  line-height: 48px

#titulo-capitulo
  margin-top: 50px
  font:
    weight: $bold
    size: 24px
  line-height: 30px
  color: $laranja-ieee

#link-capitulos
  font:
    weight: $bold
    size: 18px
  line-height: 25px
  color: $laranja-ieee
