.header
    height: 600px
    background-image: url('../images/ilustracoes/junte-se-header-bg.svg')
    background-repeat: no-repeat
    background-position: right
    display: flex
    align-items: center
    @include breakpoint($tablet)
        background-image: url('../images/ilustracoes/junte-se-header-bg-dois.svg')
    @include breakpoint($celular)
        background-image: url('../images/ilustracoes/junte-se-header-bg-tres.svg')
        background-position: center

#headerTitulo
    margin-left: 150px
    margin-bottom: 40px
    font-weight: $bold
    font-size: 38px
    line-height: 48px
    color: $texto-preto
    @include breakpoint($tablet)
        margin-left: 50px
        width: 50%
    @include breakpoint($celular)
        margin: auto
        text-align: center
        font-size: 48px
        color: white

#sectionTitulo
    margin-top: 65px
    margin-bottom: 40px
    margin-left: 150px
    font-size: 38px
    line-height: 54px
    color: $texto-preto
    opacity: 0.85
    @include breakpoint($tablet)
        margin-left: 0px
        font-size: 32px
        margin-bottom: 60px
        text-align: center
    @include breakpoint($celular)
        margin-bottom: 80px

#contatoTitulo
    font-size: 38px
    font-weight: $bold
    margin-bottom: 10px

#membresiaTitulo
    font-weight: $bold
    font-size: 36px
    line-height: 40px
    margin-left: 150px
    color: #FCFDFF
    padding-top: 30px
    @include breakpoint($tablet)
      margin-left: 20px

.secondSection
  margin-top: -50px
  display: flex
  flex-direction: row
  @include breakpoint($tablet)
    margin-top: 0
  @include breakpoint($celular)
      flex-direction: column

.fourthSection
    height: 480px
    background-image: url('../images/ilustracoes/junte-se-footer-bg.svg')
    background-repeat: no-repeat

.cardsDiv
    padding-top: 150px
    padding-bottom: 150px
    width: 100vw
    background-color: transparentize($azul-ieee, 0.2)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    @include breakpoint($tablet)
        padding-top: 80px
        padding-bottom: 80px

.cardJunte
    max-width: 270px !important
    height: 370px
    background-image: url('../images/ilustracoes/junte-se-card-bg.svg')
    background-repeat: no-repeat
    background-position: center
    margin: 0px 40px
    padding: 40px !important
    display: flex
    flex-direction: column
    align-items: center
    @include breakpoint($tablet)
        margin-top: 80px
    h2
        margin-top: 35px
        font-size: 24px
        font-weight: $semi-bold
        line-height: 24px
        color: $texto-preto
        text-align: center
    #separadorCard
        margin: 10px
    #textoCard
        font-size: 18px
        line-height: 26px
        color: $texto-preto
        opacity: 0.45
        text-align: center
    #hexagonCard
        position: absolute
        top: -22%


.contatoLeft
    margin-left: 150px
    @include breakpoint($tablet)
        margin-left: 20px
    @include breakpoint($celular)
        margin-left: 0

.contatoRight
    margin-top: 120px
    @include breakpoint($tablet)
        margin-top: 0px
        margin-right: 20px
    @include breakpoint($celular)
        margin: 0

.imagemContato
    margin-top: 50px

.formTitulo
    font-size: 24px
    font-weight: $semi-bold
    line-height: 48px
    color: $texto-preto

.formTexto
    font-size: 17px
    font-weight: $light
    line-height: 30px
    color: $texto-preto
    opacity: 0.9

form
    display: flex
    flex-direction: column
    .form-capitulo
      background: $branco
      border: 1px solid $preto
      box-sizing: border-box
      border-radius: 10px
      width: 175px

      &:focus
        box-shadow: none
        border-color: $preto
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    .comumInput
        background: #FFFFFF
        border: 1px solid #000000
        box-sizing: border-box
        border-radius: 10px
        margin-bottom: 8px
        height: 40px
        padding: 12px
        &:focus
          outline-style: none
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    #inputMsg
        height: 100px
    #submitInput
        margin-top: -35px
        margin-right: 10px
        align-self: flex-end
        border: none
        background-color: white
        &:focus
          outline-style: none
        &:hover
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)

.backgroundLeft
    height: 183px
    background-image: url('../images/ilustracoes/junte-se-body-bg-cima.svg')
    background-repeat: no-repeat
    background-position: left
    @include breakpoint($tablet)
        background-image: none
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 20px

.backgroundRight
    height: 195px
    background-image: url('../images/ilustracoes/junte-se-body-bg-baixo.svg')
    background-repeat: no-repeat
    background-position: right
    @include breakpoint($tablet)
        background-image: none
        height: 50px

.membresiaMain
    background-color: transparentize($azul-ieee, 0.2)

.beneficios-membresia
  padding: 0
    cursor: pointer
  @include breakpoint($computador)
    width: 410px
  @include breakpoint($tablet)
    margin: 50px 0px
    width: 460px
  @include breakpoint($celular)
    width: 360px

.img-membresia
  cursor: pointer

.btn-hexagonos
  &:focus
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.91) !important

#Layer_1-2
  transform-origin: 47.8% 47.8%

.hexagono-ampliado
  margin-top: -37px
  @include breakpoint($computador)
    width: 300px
    margin-top: -10px
  @include breakpoint($tablet)
    width: 350px
    margin-top: 0px
    margin: 50px 0px 0px 0px
  @include breakpoint($celular)
    width: 300px

#titulo-beneficio
  font-weight: $bold
  font-size: 36px
  line-height: 40px
  color: #FCFDFF
  padding-top: 70px
  @include breakpoint($computador)
    padding-top: 50px
    font-size: 32px
  @include breakpoint($tablet)
    padding-top: 0px

.descricao-beneficio
    font-size: 22px
    line-height: 26px
    color: rgba(252, 253, 255, 0.85)

.btn-membresia
  background-color: #182A54 !important
  color: $branco  !important
  font-weight: $bold !important
  padding: 15px 10px !important

.linha-branca
  position: absolute
  margin-top: 122px
  margin-left: 80px
  width: 95%
  height: 0
  border: 3px solid $branco
  @include breakpoint($computador)
    margin-top: 110px
