.header
    height: 600px
    background-image: url('../images/ilustracoes/junte-se-header-bg.svg')
    background-repeat: no-repeat
    background-position: right
    display: flex
    align-items: center

#headerTitulo
    margin-left: 150px
    margin-bottom: 40px
    font-weight: $bold
    font-size: 38px
    line-height: 48px
    color: $texto-preto

#sectionTitulo
    margin-top: 65px
    margin-bottom: 40px
    margin-left: 150px
    font-size: 38px
    line-height: 54px
    color: $texto-preto
    opacity: 0.85
    @include breakpoint($tablet)
        font-size: 30px
        margin-bottom: 20px

#contatoTitulo
    font-size: 38px
    font-weight: $bold

#membresiaTitulo
    font-weight: $bold
    font-size: 36px
    line-height: 40px
    margin-left: 150px
    color: #FCFDFF
    padding-top: 30px

.firstSection
    height: 900px

.secondSection
    display: flex
    flex-direction: row

.fourthSection
    height: 480px
    background-image: url('../images/ilustracoes/junte-se-footer-bg.svg')
    background-repeat: no-repeat

.cardsDiv
    height: 620px
    background-color: transparentize($azul-ieee, 0.2)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.cardJunte
    max-width: 270px !important
    height: 370px
    background-image: url('../images/ilustracoes/junte-se-card-bg.svg')
    background-repeat: no-repeat
    background-position: center
    margin: 0px 40px

.contatoLeft
    margin-left: 150px

.contatoRight
    margin-top: 120px

.imagemContato
    margin-top: 50px

.formTitulo
    font-size: 24px
    font-weight: $semi-bold
    line-height: 48px
    color: $texto-preto

.formTexto
    font-size: 17px
    font-weight: $light
    line-height: 30px
    color: $texto-preto
    opacity: 0.9

form
    display: flex
    flex-direction: column
    input
        background: #FFFFFF
        border: 1px solid #000000
        box-sizing: border-box
        border-radius: 10px
        margin-bottom: 8px
        height: 40px
        padding: 12px
    #inputMsg
        height: 100px

.backgroundLeft
    height: 183px
    background-image: url('../images/ilustracoes/junte-se-body-bg-cima.svg')
    background-repeat: no-repeat
    background-position: left

.backgroundRight
    height: 195px
    background-image: url('../images/ilustracoes/junte-se-body-bg-baixo.svg')
    background-repeat: no-repeat
    background-position: right

.membresiaMain
    background-color: transparentize($azul-ieee, 0.2)

.beneficios-membresia
  padding: 0
  @include breakpoint($computador)
    width: 350px
  @include breakpoint(max-width 992px)
    margin: 50px 0px

.hexagono-ampliado
  margin-top: -40px
  @include breakpoint($computador)
    width: 300px
  @include breakpoint(max-width 992px)
    margin-top: 0px
    margin: 50px 0px
    justify-content: center

#descricao-beneficio
  h1
    font-weight: $bold
    font-size: 36px
    line-height: 40px
    text-align: center
    color: #FCFDFF
    padding-top: 70px
    @include breakpoint($computador)
      padding-top: 30px
    @include breakpoint(max-width 992px)
      padding-top: 0px
  p
    font-size: 22px
    line-height: 26px
    color: rgba(252, 253, 255, 0.85)
    text-align: justify

/*.linha-branca
  position: absolute
  margin-top: 122px
  margin-left: -370px
  z-index: 100000*/
