body 
    overflow-x: hidden
    
.textBold
    font-weight: $bold
    color: $azul-ieee
.logo-ieee
    width: 220px
    height: 60px
    margin: 10px 0 10px 0

.footer
    background-color: #D6E8F2
    position: absolute
    bottom: 0
    min-height: 190px

.textRegular
    font-weight: $regular
    color: $azul-ieee

#ouvidoriaButton
    border-radius: 10px
    padding-left: 10px
    padding-right: 10px
    height: 40px
    border: none
    background: #FFFFFF
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    color: $azul-ieee
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    font-weight: $bold

.rodItem
    margin: auto
    align-self: center

.segment-one  
    display: flex
    flex-direction: column
    align-items: center 

.segment-two
    font-size: 13px

.segment-three
    display: flex
    flex-direction: column
    align-items: center

.segment-four
    display: flex
    flex-direction: column
    align-items: center

.contato
    margin-top: 25px

.logo-ieee-mundial
    width: 120px 
    margin-left: 80px

.voltar-ao-topo
    position: absolute
    left: 93%
    right: 3.5%
    bottom: 82%


@media (max-width: $tablet)
    .segment-two
        text-align: center
        margin: auto
    .rodItem
        margin: 10px
    .logo-ieee-mundial
        margin-left: 0
    .voltar-ao-topo
        top: 85%
        left: 85%

