#menu-navbar
	padding: 0px 30px
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15)
	background-color: $branco-ieee

#logo-ieee
	padding-right: 30px
	border-right: 1px solid rgba(0, 0, 0, 0.1)
	a
		img
			width: 130px

#links-navegacao
	margin-left: 15px
	li
		a
			padding: 20px 15px
			font-size: 15px
			color: $cinza-escuro
			border-bottom: 3px solid $branco-ieee
			&:hover
				color: $azul-ieee
				border-bottom: 3px solid $azul-ieee

#barra-pesquisar
	font-size: 13px
	background-color: rgba(0, 114, 166, 0.1)
	border: none
	&:focus
		box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5)
	&::placeholder
		color: rgba(0, 114, 166, 0.9)

#lupa-pesquisar
	font-size: 13px
	background-color: $branco-ieee
	&:focus
		box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5)

#escolha-idioma
	padding-left: 20px

#escolha-idioma
  	li
  		a
  			font-size: 14px
  			color: $azul-ieee

.icones
	color: $azul-ieee
	margin-bottom: 1px

#idioma-pt
	min-width: 0
