#menu-navbar
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15)
	background-color: $branco-ieee
	position: absolute
	z-index: 10
	width: 100%

#logo-ieee
	padding-right: 30px
	border-right: 1px solid rgba(0, 0, 0, 0.1)
	a
		img
			width: 130px

#links-navegacao
	margin: 0px 15px
	text-align: center
	li
		margin: 10px 15px
		a
			font-size: 18px
			color: $cinza-escuro
			border-bottom: 3px solid $branco-ieee
			&:hover
				color: $azul-ieee
				text-decoration: underline
				border-bottom: 3px solid $azul-ieee

#barra-pesquisar
	width: 75%
	font-size: 13px
	background-color: rgba(0, 114, 166, 0.1)
	border: none
	&:focus
		box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5)
	&::placeholder
		color: rgba(0, 114, 166, 0.9)

#lupa-pesquisar
	font-size: 13px
	background-color: $branco-ieee
	&:focus
		box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5)

#escolha-idioma
	border-radius: 5px
	li
		margin: 10px 15px

#navbarDropdown
	border-bottom: 3px solid $branco-ieee
	&:hover
		border-bottom: 3px solid $azul-ieee

#escolha-idioma
  	li
  		a
  			font-size: 14px
  			color: $azul-ieee

#idioma-pt
	min-width: 0

/* Menu dropdown aparece quando passa o mouse, porém a área do link está bugando */
/*.dropdown:hover>.dropdown-menu
	display: block */
