@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
.headerCapitulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-image: url("../images/ilustracoes/capitulos-header-bg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-bottom: 60px; }
  .headerCapitulo .headerTitulo {
    padding-top: 135px;
    padding-left: 145px; }
    @media (max-width: 992px) {
      .headerCapitulo .headerTitulo {
        padding-top: 50px;
        padding-left: 20px; } }
    .headerCapitulo .headerTitulo h1 {
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #1E1C1C; }
    .headerCapitulo .headerTitulo h2 {
      font-size: 20px;
      line-height: 30px;
      color: rgba(30, 28, 28, 0.85); }
    .headerCapitulo .headerTitulo img {
      padding-top: 15px;
      padding-bottom: 15px; }
  .headerCapitulo .headerImagens {
    display: flex;
    flex-direction: column;
    padding-top: 120px; }
    @media (max-width: 992px) {
      .headerCapitulo .headerImagens {
        padding-top: 50px; } }
    .headerCapitulo .headerImagens .ilustracaoHeader {
      padding-top: 40px; }

.projetosAndamentoCapitulo {
  background-color: rgba(51, 118, 171, 0.2);
  padding: 20px 0px; }
  .projetosAndamentoCapitulo div h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #1E1C1C;
    margin-bottom: 15px; }
  .projetosAndamentoCapitulo .projeto-item {
    background-image: url("../images/ilustracoes/imagem-card.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    margin: 20px; }
    .projetosAndamentoCapitulo .projeto-item img {
      width: 50%; }
    .projetosAndamentoCapitulo .projeto-item h1 {
      position: absolute;
      margin-left: 10px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: white; }
  .projetosAndamentoCapitulo .navegacao #botao_anterior:focus, .projetosAndamentoCapitulo .navegacao #botao_proximo:focus {
    box-shadow: none; }
