@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
.headerCapitulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-image: url("../images/ilustracoes/capitulos-header-bg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-bottom: 60px; }
  .headerCapitulo .headerTitulo {
    padding-top: 135px;
    padding-left: 145px; }
    @media (max-width: 992px) {
      .headerCapitulo .headerTitulo {
        padding-top: 50px;
        padding-left: 20px; } }
    .headerCapitulo .headerTitulo h1 {
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #1E1C1C; }
    .headerCapitulo .headerTitulo h2 {
      font-size: 20px;
      line-height: 30px;
      color: rgba(30, 28, 28, 0.85); }
    .headerCapitulo .headerTitulo img {
      padding-top: 15px;
      padding-bottom: 15px; }
  .headerCapitulo .headerImagens {
    display: flex;
    flex-direction: column;
    padding-top: 120px; }
    @media (max-width: 992px) {
      .headerCapitulo .headerImagens {
        padding-top: 50px; } }
    .headerCapitulo .headerImagens .ilustracaoHeader {
      padding-top: 40px; }
