@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
.bannerEventos {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 98, 155, 0.2);
  justify-content: center;
  align-items: center; }
  @media (max-width: 1300px) {
    .bannerEventos {
      background-color: rgba(0, 98, 155, 0.2);
      flex-wrap: wrap; } }
  @media (max-width: 820px) {
    .bannerEventos {
      background-color: white; } }
  .bannerEventos .imagemBanner {
    max-width: 100%; }
  .bannerEventos #botaoCompartilhar {
    position: absolute;
    bottom: -12%;
    left: 8%; }
    @media (max-width: 1300px) {
      .bannerEventos #botaoCompartilhar {
        position: fixed;
        bottom: auto;
        left: auto;
        top: 1.5%;
        right: 1.5%; } }
    @media (max-width: 576px) {
      .bannerEventos #botaoCompartilhar {
        top: 0.5%;
        width: 50px; } }
  .bannerEventos .textoBanner {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 20px; }
    @media (max-width: 1300px) {
      .bannerEventos .textoBanner {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap; } }
    @media (max-width: 1200px) {
      .bannerEventos .textoBanner {
        background-color: rgba(0, 98, 155, 0.2); } }
    @media (max-width: 576px) {
      .bannerEventos .textoBanner {
        padding: 20px 10px 20px 10px; } }
    .bannerEventos .textoBanner .textoEsquerda {
      display: flex;
      flex-direction: column; }
      .bannerEventos .textoBanner .textoEsquerda span {
        font-size: 30px;
        line-height: 41px;
        color: rgba(30, 28, 28, 0.65);
        letter-spacing: 0.15em;
        padding-bottom: 20px; }
      .bannerEventos .textoBanner .textoEsquerda h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        color: #1E1C1C; }
      .bannerEventos .textoBanner .textoEsquerda h2 {
        font-weight: 300;
        font-size: 25px;
        line-height: 34px;
        color: rgba(30, 28, 28, 0.55); }
      .bannerEventos .textoBanner .textoEsquerda h3 {
        font-size: 25px;
        line-height: 34px;
        color: rgba(30, 28, 28, 0.55); }
    .bannerEventos .textoBanner .textoDireita span {
      font-weight: 300;
      font-size: 30px;
      line-height: 41px;
      color: rgba(30, 28, 28, 0.5);
      margin-left: -100px; }
      @media (max-width: 576px) {
        .bannerEventos .textoBanner .textoDireita span {
          margin-left: 0px; } }
