@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
body {
  overflow-x: hidden; }

.textBold {
  font-weight: 700;
  color: #0072A6; }

.logo-ieee {
  width: 220px;
  height: 60px;
  margin: 10px 0 10px 0; }

.footer {
  background-color: #D6E8F2;
  position: relative;
  bottom: 0;
  min-height: 190px; }

.textRegular {
  font-weight: 400;
  color: #0072A6; }

#ouvidoriaButton {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border: none;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: #0072A6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700; }

.rodItem {
  margin: auto;
  align-self: center; }

.segment-one {
  display: flex;
  flex-direction: column;
  align-items: center; }

.segment-two {
  font-size: 13px; }

.segment-three {
  display: flex;
  flex-direction: column;
  align-items: center; }

.segment-four {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contato {
  margin-top: 25px; }

.logo-ieee-mundial {
  width: 120px;
  margin-left: 80px; }

.voltar-ao-topo {
  position: absolute;
  left: 93%;
  right: 3.5%;
  bottom: 82%; }

@media (max-width: 991px) {
  .segment-two {
    text-align: center;
    margin: auto; }
  .rodItem {
    margin: 10px; }
  .logo-ieee-mundial {
    margin-left: 0; }
  .voltar-ao-topo {
    top: 85%;
    left: 85%; } }
