@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  body strong {
    font-weight: 700; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #0072A6; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#menu-navbar {
  padding: 0px 30px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  background-color: #FDFDFD; }

#logo-ieee {
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  #logo-ieee a img {
    width: 130px; }

#links-navegacao {
  margin-left: 15px; }
  #links-navegacao li a {
    padding: 20px 15px;
    font-size: 15px;
    color: #5F6B76;
    border-bottom: 3px solid #FDFDFD; }
    #links-navegacao li a:hover {
      color: #0072A6;
      border-bottom: 3px solid #0072A6; }

#barra-pesquisar {
  font-size: 13px;
  background-color: rgba(0, 114, 166, 0.1);
  border: none; }
  #barra-pesquisar:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5); }
  #barra-pesquisar::placeholder {
    color: rgba(0, 114, 166, 0.9); }

#lupa-pesquisar {
  font-size: 13px;
  background-color: #FDFDFD; }
  #lupa-pesquisar:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5); }

#escolha-idioma {
  padding-left: 20px; }

#escolha-idioma li a {
  font-size: 14px;
  color: #0072A6; }

.icones {
  color: #0072A6;
  margin-bottom: 1px; }

#idioma-pt {
  min-width: 0; }

body {
  overflow-x: hidden; }

.textBold {
  font-weight: 700;
  color: #0072A6; }

.logo-ieee {
  width: 220px;
  height: 60px;
  margin: 10px 0 10px 0; }

.footer {
  background-color: #D6E8F2;
  position: absolute;
  bottom: 0;
  min-height: 190px; }

.textRegular {
  font-weight: 400;
  color: #0072A6; }

#ouvidoriaButton {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border: none;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: #0072A6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700; }

.rodItem {
  margin: auto;
  align-self: center; }

.segment-one {
  display: flex;
  flex-direction: column;
  align-items: center; }

.segment-two {
  font-size: 13px; }

.segment-three {
  display: flex;
  flex-direction: column;
  align-items: center; }

.segment-four {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contato {
  margin-top: 25px; }

.logo-ieee-mundial {
  width: 120px;
  margin-left: 80px; }

.voltar-ao-topo {
  position: absolute;
  left: 93%;
  right: 3.5%;
  bottom: 82%; }

@media (max-width: 991px) {
  .segment-two {
    text-align: center;
    margin: auto; }
  .rodItem {
    margin: 10px; }
  .logo-ieee-mundial {
    margin-left: 0; }
  .voltar-ao-topo {
    top: 85%;
    left: 85%; } }
