@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
#menu-navbar {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  background-color: #FDFDFD;
  position: absolute;
  z-index: 10;
  width: 100%; }

#logo-ieee {
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  #logo-ieee a img {
    width: 130px; }

#links-navegacao {
  margin: 0px 15px;
  text-align: center; }
  #links-navegacao li {
    margin: 10px 15px; }
    #links-navegacao li a {
      font-size: 18px;
      color: #5F6B76;
      border-bottom: 3px solid #FDFDFD; }
      #links-navegacao li a:hover {
        text-decoration: underline;
        color: #0072A6;
        border-bottom: 3px solid #0072A6; }

#barra-pesquisar {
  position: relative; }
  #barra-pesquisar input {
    width: 100%;
    padding: 6px 40px 6px 12px;
    font-size: 13px;
    background-color: rgba(0, 114, 166, 0.1);
    border: 1px solid rgba(0, 114, 166, 0.2); }
    #barra-pesquisar input:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 114, 166, 0.5); }
    #barra-pesquisar input::placeholder {
      color: rgba(0, 114, 166, 0.9); }

#lupa-pesquisar {
  position: absolute;
  padding: 0 6px 0 8px;
  margin-right: 6px;
  right: 0;
  font-size: 13px;
  background: none;
  border-radius: 0;
  border-left: 1px solid rgba(0, 114, 166, 0.2); }
  #lupa-pesquisar img {
    margin-top: 4px; }
  #lupa-pesquisar:focus {
    box-shadow: none; }

#escolha-idioma {
  border-radius: 5px; }
  #escolha-idioma li {
    margin: 10px 15px; }
    #escolha-idioma li a {
      font-size: 14px;
      color: #0072A6; }

#navbarDropdown {
  border-bottom: 3px solid #FDFDFD; }
  #navbarDropdown:hover {
    border-bottom: 3px solid #0072A6; }

#idioma-pt {
  min-width: 0;
  margin-top: 0;
  margin-left: 2px;
  text-align: center; }

.dropdown:hover .dropdown-menu {
  display: block; }

#capitulos div {
  margin-top: 0px;
  margin-left: -33px;
  padding: 0px; }

#capitulos div a {
  padding: 15px;
  text-align: center; }

@media (max-width: 992px) {
  #capitulos div {
    margin-left: 0px;
    border: none;
    background-color: #FDFDFD; }
  #capitulos .nav-link {
    border-bottom: none; }
    #capitulos .nav-link:hover {
      border-bottom: none; }
  #escolha-idioma li a {
    border-bottom: none; }
    #escolha-idioma li a:hover {
      border-bottom: none; } }

@media (max-width: 1200px) {
  #links-navegacao li {
    margin: 10px 5px; }
    #links-navegacao li a {
      font-size: 15px; }
  #capitulos div a {
    padding: 10px; } }
