@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
/*mixin para banner das páginas de projetos*/
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
/*mixin para banner das páginas de projetos*/
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  body strong {
    font-weight: 700; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #0072A6; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #FCFDFF; }

#banner {
  padding-top: 50px; }
  #banner p {
    margin-top: 20px;
    font-size: 25px;
    line-height: 30px; }

@media (max-width: 992px) {
  #banner .titulos {
    font-size: 30px;
    line-height: 35px; }
  #banner p {
    font-size: 20px; } }

.secoes {
  margin-top: 70px; }

.titulos {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #1E1C1C;
  margin-bottom: 20px; }

.linha-azul {
  margin: 10px 0px; }

#logo-ieee-mundial {
  display: block;
  margin: 6%; }

#logo-ieee-ufabc {
  display: block;
  margin: 20% 0; }

@media (max-width: 1200px) {
  #logo-ieee-mundial, #logo-ieee-ufabc {
    width: 300px; }
  #logo-muda {
    width: 350px; } }

@media (max-width: 992px) {
  #logo-ieee-mundial {
    width: 350px;
    margin: 3%; }
  #logo-ieee-ufabc {
    width: 350px;
    margin: 10%; }
  #logo-muda {
    width: 400px; } }

@media (max-width: 576px) {
  #logo-ieee-mundial {
    width: 250px;
    margin: 5%; }
  #logo-ieee-ufabc {
    width: 250px;
    margin: 15% 0; }
  #logo-muda {
    width: 300px; } }

#logos-ieee {
  display: block;
  margin: 6%; }

.descricao-ieee {
  font-size: 18px;
  line-height: 27px; }

.titulo2 {
  font-size: 24px;
  line-height: 48px; }

#imagens-o-que-fazemos {
  margin: 10%;
  max-width: 500px; }

#titulo-capitulo {
  margin-top: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #0072A6; }

#link-capitulos {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 50px;
  color: #0072A6; }

.descricao-capitulos .descricao-ieee {
  display: none; }

#descricao-AESS {
  display: block; }

.capitulos-logos {
  background-image: url(../images/ilustracoes/hexagonos-background.svg);
  background-repeat: repeat-x;
  margin: -15px; }

.logos {
  margin: 90px 0px; }

#logo-muda {
  opacity: 1; }

.capitulos-logos img {
  width: 160px;
  cursor: pointer; }

@keyframes opacidade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 1200px) {
  .capitulos-logos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/ilustracoes/hexagonos-background-mobile.png);
    background-repeat: repeat; }
  .logos {
    margin: 20px; } }

/* Estilização dos cards */
.card-eventos {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

.contagem-regressiva {
  position: absolute;
  display: flex;
  align-items: center;
  height: 25px;
  margin: 10px;
  padding: 10px;
  border-radius: 40px;
  background-color: #FDFDFD;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); }
  .contagem-regressiva img {
    margin-right: 5px; }
  .contagem-regressiva p {
    font-size: 14px; }

.nome-evento {
  font-size: 20px;
  line-height: 34px; }

.descricao-evento {
  font-size: 18px;
  line-height: 24px; }

.data-hora {
  font-size: 14px;
  line-height: 18px; }

.saiba-mais {
  color: #0072A6;
  fill: currentColor; }

#botoes-eventos {
  text-align: center; }

.btn-todos-eventos {
  width: 160px;
  margin-right: 1rem;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #0072A6;
  background-color: rgba(0, 114, 166, 0.91);
  color: #FDFDFD; }
  .btn-todos-eventos:hover {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.91);
    color: #0072A6; }

.btn-eventos-anteriores {
  width: 200px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #0072A6;
  background-color: rgba(255, 255, 255, 0.91);
  color: #0072A6; }
  .btn-eventos-anteriores:hover {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: rgba(0, 114, 166, 0.91);
    color: #FDFDFD; }

@media (max-width: 375px) {
  .btn-todos-eventos {
    margin-right: 0;
    margin-bottom: 10px; } }

.diretoriaDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px; }

.diretoriaTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px; }

.hexagonoIndividual {
  text-align: center;
  margin: 10px; }
  .hexagonoIndividual:hover .subTextoHexagono {
    opacity: 100%; }
  .hexagonoIndividual .ilustracao {
    margin-top: -70px;
    width: 205px;
    display: block; }

.textoHexagono {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-top: 20px; }
  @media (max-width: 992px) {
    .textoHexagono {
      margin-bottom: 20px; } }

.subTextoHexagono {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  opacity: 0; }
  @media (max-width: 992px) {
    .subTextoHexagono {
      margin-bottom: 20px; } }

.redes-sociais {
  position: absolute; }

.icones {
  display: none; }

#whatsapp {
  margin-left: -90px;
  margin-top: -87px; }

#linkedin {
  margin-left: -55px;
  margin-top: -64px; }

#email {
  margin-top: -43px;
  margin-left: -17px; }

#facebook {
  margin-left: 30px;
  margin-top: -64px; }

#github {
  margin-left: 63px;
  margin-top: -87px; }
