@charset "UTF-8";
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
/*Cores*/
/*Peso da fonte*/
/*Resolução máxima*/
/*mixin do display flex*/
/*mixin do gradiente*/
/*mixin de transição*/
/*mixin do arredodamento da borda*/
/*função para converter px para rem no tamanho da fonte*/
/*mixin do tamanho da fonte*/
/*mixin da opacidade*/
/*mixin da opacidade do background*/
/*mixin das colunas*/
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  body strong {
    font-weight: 700; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #0072A6; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.tempHeader {
  background-image: url("../images/ilustracoes/banner-aess.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 992px) {
    .tempHeader {
      background-position: right; } }
  @media (max-width: 992px) {
    .tempHeader div {
      justify-content: flex-start; } }
  .tempHeader div img {
    opacity: 0.4;
    margin-right: auto; }

.titulo-projeto {
  position: absolute;
  bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5); }
  @media (max-width: 576px) {
    .titulo-projeto {
      font-size: 30px; } }

.sucessos-projeto {
  padding: 20px 100px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  align-items: center; }
  .sucessos-projeto .sucessos-item {
    padding: 0px 25px;
    border-left: 1px solid #E5E5E5;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #444; }
  .sucessos-projeto .last-update {
    font-size: 14px;
    line-height: 21px;
    color: #444; }

.tempText {
  background-color: white; }

.tituloTextTitulo {
  font-size: 20px;
  font-weight: 700;
  color: #1E1C1C;
  padding-bottom:24px; }

.tituloTextoText {
  font-size: 16px;
  font-weight: bold;
  color: #525C65;
  padding-bottom:16px; }

.textoText{
  font-size: 15px;
  color: #1E1C1C;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  padding-bottom:17px;
}


.corpoProjeto {
  margin: 80px 90px 30px 90px;
  display: flex;
  flex-direction: column; }
  .corpoProjeto .mainProjeto {
    display: flex;
    flex-direction: row; }
  .corpoProjeto .asideProjeto {
    margin: 0px 120px 0px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .corpoProjeto .asideProjeto button {
      background: #EA9414;
      border: none;
      align-self: center;
      width: 210px;
      height: 50px;
      border-radius: 5px;
      font-size: 28px;
      color: white;
      font-weight: 600; }
    .corpoProjeto .asideProjeto img {
      color: #EA9414;
      margin: 12px 0px 12px 0px; }
    .corpoProjeto .asideProjeto .corpoAside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 80px; }
      .corpoProjeto .asideProjeto .corpoAside .blocoFotos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto; }
        .corpoProjeto .asideProjeto .corpoAside .blocoFotos span {
          font-size: 20px;
          font-weight: 700;
          color: #1E1C1C; }
        .corpoProjeto .asideProjeto .corpoAside .blocoFotos .divFotos {
          position: relative;
          display: flex;
          align-self: center;
          flex-wrap: wrap;
          flex-direction: row; }
        .corpoProjeto .asideProjeto .corpoAside .blocoFotos .fotoAside {
          position: relative;
          width: 110px;
          height: 110px;
          margin-right: 20px;
          margin-bottom: 20px;
          background-color: black; }
      .corpoProjeto .asideProjeto .corpoAside .textoAside {
        margin-top: 80px; }
        .corpoProjeto .asideProjeto .corpoAside .textoAside span {
          margin-top: 15px;
          font-weight: 700;
          font-size: 16px;
          color: #1E1C1C; }
        .corpoProjeto .asideProjeto .corpoAside .textoAside p {
          font-size: 15px;
          margin-top: 18px;
          margin-bottom: 18px;
          width: 80%; }

.corpoDepoimentos {
  margin-top: 40px; }
  .corpoDepoimentos #tituloDepoimentos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .corpoDepoimentos #tituloDepoimentos span {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 15px; }
  .corpoDepoimentos .cardsDiv {
    justify-content: center;
    margin-top: 75px;
    display: flex;
    flex-direction: row; }
    .corpoDepoimentos .cardsDiv .individualCard {
      display: flex;
      flex-direction: column;
      background-image: url("../images/ilustracoes/projetos-card-bg.svg");
      background-repeat: no-repeat;
      width: 340px;
      height: 420px;
      justify-content: center; }
      .corpoDepoimentos .cardsDiv .individualCard .pessoaCard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px; }
      .corpoDepoimentos .cardsDiv .individualCard .descricao {
        display: flex;
        flex-direction: column;
        margin-left: 5px; }
      .corpoDepoimentos .cardsDiv .individualCard p {
        font-size: 15px;
        line-height: 27px;
        color: #1E1C1C;
        text-align: center;
        width: 90%;
        margin: 40px 20px 20px 20px; }
    .corpoDepoimentos .cardsDiv .cardEsquerda {
      margin-right: 70px;
      margin-top: 20px; }
    .corpoDepoimentos .cardsDiv .cardMeio {
      margin-right: 70px; }
    .corpoDepoimentos .cardsDiv .cardDireita {
      margin-top: 20px; }
